In [18]:
import pandas as pd

In [19]:
df = pd.read_csv('airbnb_barcelona.csv')
df.head(3)

,Unnamed: 0,id,host_id,host_is_superhost,host_listings_count,neighbourhood,zipcode,latitude,longitude,property_type,...,amenities,price,minimum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews_ltm,review_scores_rating
0,0,18666,71615,f,45.0,Sant Martí,8026,41.40889,2.18555,Apartment,...,"['TV', 'Internet', 'Wifi', 'Air conditioning',...",$130.00,3,t,0,0,0,182,0,80.0
1,1,18674,71615,f,45.0,La Sagrada Família,8025,41.40420,2.17306,Apartment,...,"['TV', 'Internet', 'Wifi', 'Air conditioning',...",$60.00,1,t,3,20,50,129,10,87.0
2,2,21605,82522,f,2.0,Sant Martí,8018,41.40560,2.19821,Apartment,...,"['TV', 'Wifi', 'Kitchen', 'Paid parking off pr...",$33.00,2,t,4,8,15,15,36,90.0

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19833 entries, 0 to 19832
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             19833 non-null  int64
 1   id                     19833 non-null  int64
 2   host_id                19833 non-null  int64
 3   host_is_superhost      19799 non-null  object
 4   host_listings_count    19799 non-null  float64
 5   neighbourhood          19823 non-null  object
 6   zipcode                19229 non-null  object
 7   latitude               19833 non-null  float64
 8   longitude              19833 non-null  float64
 9   property_type          19833 non-null  object
 10  room_type              19833 non-null  object
 11  accommodates           19833 non-null  int64
 12  bathrooms              19824 non-null  float64
 13  bedrooms               19830 non-null  float64
 14  beds                   19799 non-null  float64
 15  amenities              19833 non-null  object
 16  price                  19833 non-null  object
 17  minimum_nights         19833 non-null  int64
 18  has_availability       19833 non-null  object
 19  availability_30        19833 non-null  int64
 20  availability_60        19833 non-null  int64
 21  availability_90        19833 non-null  int64
 22  availability_365       19833 non-null  int64
 23  number_of_reviews_ltm  19833 non-null  int64
 24  review_scores_rating   14986 non-null  float64
dtypes: float64(7), int64(10), object(8)
memory usage: 3.8+ MB

In [21]:
df.isnull().sum()

Unnamed: 0                  0
id                          0
host_id                     0
host_is_superhost          34
host_listings_count        34
neighbourhood              10
zipcode                   604
latitude                    0
longitude                   0
property_type               0
room_type                   0
accommodates                0
bathrooms                   9
bedrooms                    3
beds                       34
amenities                   0
price                       0
minimum_nights              0
has_availability            0
availability_30             0
availability_60             0
availability_90             0
availability_365            0
number_of_reviews_ltm       0
review_scores_rating     4847
dtype: int64

# Preprocessing
1. Drop column `Unnamed: 0` + `zipcode`
2. Drop NA in `beds`, `bathrooms`, `bedrooms`, `host_is_superhost`, `host_listings_count`
3. Fill NA in  `review_scores_rating` by 0

In [22]:
df.drop(['zipcode', 'Unnamed: 0'], axis=1, inplace=True)
df.dropna(subset=['host_is_superhost', 'host_listings_count', 'beds', 'bathrooms', 'bedrooms', 'neighbourhood'], ignore_index=True, inplace=True)
df['review_scores_rating'].fillna(0, inplace=True)

df.isnull().sum()

id                       0
host_id                  0
host_is_superhost        0
host_listings_count      0
neighbourhood            0
latitude                 0
longitude                0
property_type            0
room_type                0
accommodates             0
bathrooms                0
bedrooms                 0
beds                     0
amenities                0
price                    0
minimum_nights           0
has_availability         0
availability_30          0
availability_60          0
availability_90          0
availability_365         0
number_of_reviews_ltm    0
review_scores_rating     0
dtype: int64

4. Column `host_is_superhost` + `has_availability` to int

In [23]:
df['host_is_superhost'].replace({'f':0, 't': 1}, inplace=True)
df['has_availability'].replace({'f':0, 't': 1}, inplace=True)

df.head(2)

,id,host_id,host_is_superhost,host_listings_count,neighbourhood,latitude,longitude,property_type,room_type,accommodates,...,amenities,price,minimum_nights,has_availability,availability_30,availability_60,availability_90,availability_365,number_of_reviews_ltm,review_scores_rating
0,18666,71615,0,45.0,Sant Martí,41.40889,2.18555,Apartment,Entire home/apt,6,...,"['TV', 'Internet', 'Wifi', 'Air conditioning',...",$130.00,3,1,0,0,0,182,0,80.0
1,18674,71615,0,45.0,La Sagrada Família,41.40420,2.17306,Apartment,Entire home/apt,8,...,"['TV', 'Internet', 'Wifi', 'Air conditioning',...",$60.00,1,1,3,20,50,129,10,87.0

5. Convert `price` to float

In [24]:
df['price'] = df['price'].replace('[\$,]', '', regex=True).astype(float)
df['price']

0        130.0
1         60.0
2         33.0
3        210.0
4         45.0
         ...
19740     16.0
19741     30.0
19742     55.0
19743    125.0
19744     95.0
Name: price, Length: 19745, dtype: float64

In [25]:
df2 = df.copy()
df.drop('amenities', axis=1, inplace=True)

Extract file

In [26]:
df.to_csv('cleaned_airbnb_barcelona.csv')

# New table
Create a new table that contains amenity properties

In [27]:
import ast
from sklearn.preprocessing import MultiLabelBinarizer

In [28]:
amenity = df2[['id','amenities']]
amenity.head(3)

      id                                          amenities
0  18666  ['TV', 'Internet', 'Wifi', 'Air conditioning',...
1  18674  ['TV', 'Internet', 'Wifi', 'Air conditioning',...
2  21605  ['TV', 'Wifi', 'Kitchen', 'Paid parking off pr...

1. Convert from object to list

In [29]:
amenity['amenities'] = amenity['amenities'].apply(ast.literal_eval)

C:\Users\ASUS FLIP 14\AppData\Local\Temp\ipykernel_7708\3944619388.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  amenity['amenities'] = amenity['amenities'].apply(ast.literal_eval)

2. Encode each amenity

In [30]:
# Initialize the MultiLabelBinarizer
mlb = MultiLabelBinarizer()

# One-hot encode the 'amenities' column
amenities_encoded = pd.DataFrame(mlb.fit_transform(amenity['amenities']), columns=mlb.classes_, index=amenity.index)

# Concatenate the original DataFrame with the new one-hot encoded columns
amenity = pd.concat([amenity, amenities_encoded], axis=1)

3. Filter out only most 20 common amenities

In [31]:
top20_amenity = amenity.iloc[:,2:].sum().sort_values(ascending=False).index[:20]

In [32]:
amenity = amenity.set_index('id')
amenity = amenity[top20_amenity].reset_index()

5. Save to new csv

In [33]:
amenity.to_csv('amenity.csv')